<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<title>Base Template</title>
<meta name="description" content="" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>


<body>
	<span >Layout Sample</span>
	<div>
		<nav>
			<ol>
				<th:block layout:fragment="breadcrumb">
				</th:block>
			</ol>
		</nav>
		<div>
			<th:block layout:fragment="mcontent">
			</th:block>
		</div>
	</div>

	<th:block layout:fragment="footer">
	</th:block>
</body>

</html>